.card {
    width: 30rem;
    display: inline-block;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.applyFab {
    position: 'fixed',
    bottom: theme.spacing(2),
    right: theme.spacing(2),
    margin: theme.spacing(1),
},