.thumbnailImage {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px; /* Set a small width */
}

.dialogTitle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    alignment: center;
}

.thumbnailImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
